
.box {
    text-align: center;
    gap: 1.5rem;
    width: 30%;
    margin: 0 auto;
}
h1 {
    margin-bottom: 1rem;
}
.sandbox {
    background: #0F344D;
    padding: 2rem;
    text-align: center;
    transition: all 400ms ease;
    align-items: center;
    transition: 400ms all ease;
    border-radius: 3rem;
    margin-top: 2rem;
}
