.header-title {
    background-color: rgba($color: #000000, $alpha: 0.6);
    display:grid;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #409BD7;
    text-align: center;
}
.navTitle {
    text-decoration: none;
    color: white;
}
